<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cap2</title>
</head>

<body>
  <h1>List of all users</h1>
  
  <h4>Users:</h4>
  <ul>
    <% users.forEach(function(user) { %>
      <li>
        <%= user.username %>
      </li>
      <% }); %>
  </ul>
</body>

</html>